<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Air Bed and breakfast</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <nav>
    <a class="button1" href='/'> Home </a>
    <a class="button2" href ='/registration'> Registration </a>
    <a class="button3" href ='/rooms'> Book A Room </a>
    <img class="logo" src="images/logo.png" alt="logo">
    </nav>
    
    
    {{{body}}}
 
</body>

<footer>
<h2>Medias</h2>
<a class="media" href="https://twitter.com/Alexanderdumou">Twitter</a>
<a class="media" href="https://www.facebook.com/Faversavers/">Facebook</a>

</footer>

</html>