
<html>
    <link rel="stylesheet" href="css/home.css">
    
<head>
    <h1>  Welcome to AirBeds and Breakfast   </h1>

</head>

<body>
<p>
    Air Bed and breakfast is a Renting website for people looking to rent a specific room instead of renting a hotel.
    The best place for you to find a place to rest! Starting as low as 78$ CAD
</p>
<h3>A preview of our rooms!</h3>
<img class="room" src="../images/room1.jpg">
<img class="room" src="../images/room2.jpg">
<img class="room" src="../images/room3.jpg">

</body>

</html>