<html>
    <link rel="stylesheet" href="css/rooms.css">
    
<head>
    <h1></h1>

</head>

<body>
  
    <div class="grid">
    <div class="grid-item"><img class="rooms" src="../images/room1.jpg"><h5>Air jet</h5>$400CAD/night</div>
    <div class="grid-item"><img class="rooms" src="../images/room2.jpg"><h5>Luxaries finest</h5>$322CAD/night</div>
    <div class="grid-item"><img class="rooms" src="../images/room3.jpg"><h5>solo night</h5>$97CAD/night</div>
    <div class="grid-item"><img class="rooms" src="../images/room4.jpg"><h5>the cabin</h5>$219CAD/night</div>
    <div class="grid-item"><img class="rooms" src="../images/room5.jpg"><h5>Kddie show</h5>$78CAD/night</div>
    <div class="grid-item"><img class="rooms" src="../images/room6.jpg"><h5>Flamin goes</h5>$150CAD/night</div>
 
  </div>

</body>

</html>